<app-menu-bar> Hello, world! (Menu bar) </app-menu-bar>
<app-menu-title> Hello, world! (Menu title) </app-menu-title>

<div class="grid-content">
  <div class="left-content">
    <app-big-card></app-big-card>
  </div>

  <div class="right-content">
    <app-small-card></app-small-card>
    <hr class="separator" />
    <app-small-card> </app-small-card>
    <hr class="separator" />
    <app-small-card></app-small-card>
    <hr class="separator" />
    <app-small-card></app-small-card>
  </div>
</div>

<router-outlet></router-outlet>
