<app-menu-bar> </app-menu-bar>
<app-menu-title> </app-menu-title>

<div class="grid-content">
  <div class="left-content">
    <app-big-card
      photoCover="../../assets/ANGULAR (1).png"
      cardTitle="Angular Title"
      cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit dolore, quo eligendi tempora dicta maxime reiciendis ipsam, accusamus aut aperiam optio debitis maiores cupiditate, delectus id qui vitae repudiandae repellendus."
    ></app-big-card>
  </div>

  <div class="right-content">
    <app-small-card photoCover="../assets/ANGULAR (1).png"></app-small-card>
    <hr class="separator" />
    <app-small-card photoCover="../../assets/Programming_code.jpg">
    </app-small-card>
    <hr class="separator" />
    <app-small-card photoCover="../../assets/tech.png"></app-small-card>
    <hr class="separator" />
    <app-small-card photoCover="../../assets/ANGULAR (1).png"></app-small-card>
  </div>
</div>

<router-outlet></router-outlet>
